@akelius-con:registry=https://akelius.jfrog.io/akelius/api/npm/npm/
//akelius.jfrog.io/akelius/api/npm/npm/:_password=QUtDcDhqUWN1Y2Vub0NXdk1CWHVZRVhxYmthVGpIWTIzRTRaWXJ3RVdQWjlBQkRqNEp5dERmQnV5eGYzY1pablNxeGNrUmtWdQ==
//akelius.jfrog.io/akelius/api/npm/npm/:username=abdelkrim.aitaddi@akelius.de
//akelius.jfrog.io/akelius/api/npm/npm/:email=abdelkrim.aitaddi@akelius.de
//akelius.jfrog.io/akelius/api/npm/npm/:always-auth=true
