<mat-card class="card">
  <div class="picture">Picture</div>
  <mat-card-content>
    <div class="card-title"> {{character.name }}</div>
    <div class="director">gender: {{character.gender }}</div>
    <div class="producers">birth year: {{character.birth_year }}</div>
    <div class="date">Erscheinungsdatum: {{character.created }}</div>
  </mat-card-content>
  <mat-card-actions>
    <a class="more" [routerLink]="['/characters', character.id]">Mehr informationen...</a>
  </mat-card-actions>
</mat-card>
