@use 'sass:map';
// default-contrast
$md-primary: (
  50 : #e2e3e6,
  100 : #b7b9c0,
  200 : #888b96,
  300 : #585d6b,
  400 : #343a4c,
  500 : #10172c,
  600 : #0e1427,
  700 : #0c1121,
  800 : #090d1b,
  900 : #050710,
  A100 : #536cff,
  A200 : #2041ff,
  A400 : #0022ec,
  A700 : #001ed3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #f7f7f7,
  100 : #ebebeb,
  200 : #dddddd,
  300 : #cfcfcf,
  400 : #c5c5c5,
  500 : #bbbbbb,
  600 : #b5b5b5,
  700 : #acacac,
  800 : #a4a4a4,
  900 : #969696,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffcfcf,
  A700 : #ffb6b6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-warn: (
  50 : #f6f0f0,
  100 : #eadada,
  200 : #dcc1c1,
  300 : #cda8a8,
  400 : #c39595,
  500 : #b88282,
  600 : #b17a7a,
  700 : #a86f6f,
  800 : #a06565,
  900 : #915252,
  A100 : #fff5f5,
  A200 : #ffc2c2,
  A400 : #ff8f8f,
  A700 : #ff7575,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
